.botonguardar {
  border-radius: 15px;
  background-color: rgb(255, 166, 0);
  border: none;
  color: white;
  font-weight: 500;
}

.navbar1 {
  background: rgb(255, 166, 0);
}

.botoneliminar {
  color: white;
  background-color: rgb(255, 166, 0);
}

.card {
  box-shadow: 0px 10px 10px rgb(212, 212, 212);
}

.titulotarea {
  font-weight: bold;
}

.cardtareas {
  width: 500px;
}
